::ng-deep .mat-checkbox-frame {
    border: 1px solid black;
}

.side {
    width: 50%;
    height: 80%;
}

.card-body {
    width: 70%;
    margin-right: 15em;
}

.logo {
    width: 15%;
    height: 15%;
    margin-top: 3em;
    margin-right: 18em;
}

.required {
    color: red;
}

.form-align {
    margin-right: 8em;
}