<table class="table table-bordered" [hidden]="isListEmpty">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">From Session</th>
            <th scope="col">To Session</th>
            <th scope="col">Days</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let app of applications">
            <td>{{app.Type}}</td>
            <td>{{app.FromDate | date:'mediumDate'}}</td>
            <td>{{app.ToDate | date:'mediumDate'}}</td>
            <td>{{app.FromSession}}</td>
            <td>{{app.ToSession}}</td>
            <td>{{diff(app.ToDate,app.FromDate,app.FromSession,app.ToSession)}}</td>
            <td>{{app.Reason}}</td>
            <td>{{app.Status}}</td>


        </tr>
    </tbody>
</table>
<p class="alert alert-info center-display text-center" *ngIf="isListEmpty">You have not taken any leave this year!</p>