<nav *ngIf="nav.navVisible" class="navbar navbar-expand-lg navbar-light bg-info">


    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="../../../assets/transparentlogo.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color:white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/add-employee'">Add Associate</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/add-employee'">Edit Associate</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/set-leave'">Set Leave</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color:white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Leave
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/leave'">Apply Leave</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/approve-leave'">Approve Leave</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/track-leave'">Track Leave</a>

                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" style="color:white;" [routerLinkActive]="['active']" [routerLink]="'/employee-attendance'">Attendance</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white;" [routerLinkActive]="['active']" [routerLink]="'/directory'">Directory</a>
            </li>


        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color:white;" [routerLinkActive]="['active']" [routerLink]="'/logout'">Logout</a>
            </li>
        </ul>

    </div>
</nav>