    nav {
        margin-bottom: 1em;
    }
    
    .navitems {
        color: white;
    }
    
    .dropdown-item:hover {
        color: white;
        background-color: rgb(8, 131, 202);
    }
    
    .mycolor {
        color: white;
        background-color: rgb(8, 131, 202);
    }
    
    img {
        border: 1px solid white;
        border-radius: 50%;
        background-color: white;
    }
    
    .active {
        background-color: rgb(236, 217, 39);
    }