<form class="card container" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" autocomplete="off">


    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <mat-icon>account_box</mat-icon>
                </span>
            </div>
            <input name="name" class="form-control" placeholder="Full name" type="text" required [(ngModel)]="employeeInstance.name" #nameField="ngModel" [class.field-error]="employeeForm.submitted && nameField.invalid">
        </div>


        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||nameField.valid" class="required">
                * Name is required
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <mat-icon>face</mat-icon>
                </span>
            </div>
            <select name="gender" class="form-control" #genderField="ngModel" [(ngModel)]="employeeInstance.gender">
                <option value="null" disabled="true" [selected]="true">Gender</option>
                <option *ngFor="let g of genders" [ngValue]="g">{{g}}</option>

            </select>
            <div class="input-group">
                <div [hidden]="!employeeForm.submitted||genderField.valid" class="required">
                    * Gender is required
                </div>
            </div>
        </div>
        <!-- form-group// -->
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <mat-icon>email</mat-icon>
                </span>
            </div>
            <input name="email" class="form-control" placeholder="Email address" type="email" required [(ngModel)]="employeeInstance.email" #emailField="ngModel" [class.field-error]="employeeForm.submitted && emailField.invalid">
            <div class="input-group">
                <div [hidden]="!employeeForm.submitted||emailField.valid" class="required">
                    * Email is required
                </div>
            </div>
        </div>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>phone</mat-icon>
            </span>
        </div>
        <input name="mobile" class="form-control" placeholder="Mobile number" type="number" required [(ngModel)]="employeeInstance.mobile" #mobileField="ngModel" [class.field-error]="employeeForm.submitted && mobileField.invalid" min="6000000000" max="9999999999">

        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||mobileField.valid" class="required">
                * Mobile number is required
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">
                    <mat-icon>card_giftcard</mat-icon>
                </span>
            </div>

            <input name="dob" placeholder="Date of Birth" class="form-control textbox-n" type="text" onfocus="(this.type='date')" id="dob" required [(ngModel)]="employeeInstance.dob" #dobField="ngModel" [class.field-error]="employeeForm.submitted && dobField.invalid"
                max={{today}}>
        </div>
        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||dobField.valid" class="required">
                * DOB is required
            </div>
        </div>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>date_range</mat-icon>
            </span>
        </div>
        <input name="doj" placeholder="Date of Joining" class="form-control textbox-n" type="text" onfocus="(this.type='date')" id="doj" required [(ngModel)]="employeeInstance.doj" #dojField="ngModel" [class.field-error]="employeeForm.submitted && dojField.invalid">
        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||dojField.valid" class="required">
                * DOJ is required
            </div>
        </div>
    </div>



    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>work</mat-icon>
            </span>
        </div>
        <select name="department" class="form-control" #departmentField="ngModel" [(ngModel)]="employeeInstance.department">
            <option value="null" disabled="true" [selected]="true">Department</option>
            <option *ngFor="let d of departments" [ngValue]="d">{{d}}</option>

        </select>
        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||departmentField.valid" class="required">
                * Department is required
            </div>
        </div>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>assignment_ind</mat-icon>
            </span>
        </div>


        <select name="desgination" class="form-control" #designationField="ngModel" [(ngModel)]="employeeInstance.designation">
            <option value="null" disabled="true" [selected]="true">Designation</option>
            <option *ngFor="let de of designations" [ngValue]="de">{{de}}</option>

        </select>
        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||designationField.valid" class="required">
                * Designation is required
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <mat-icon>home</mat-icon>
                </span>
            </div>
            <input name="address" class="form-control" placeholder="Address" type="textarea" required [(ngModel)]="employeeInstance.address" #addressField="ngModel" [class.field-error]="employeeForm.submitted && addressField.invalid">
        </div>

        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||addressField.valid" class="required">
                * Address is required
            </div>
        </div>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>local_hospital</mat-icon>
            </span>
        </div>
        <select name="bloodType" class="form-control" #bloodTypeField="ngModel" [(ngModel)]="employeeInstance.bloodType">
            <option value="null" disabled="true" [selected]="true">Blood Group</option>
            <option *ngFor="let b of bloodTypes" [ngValue]="b">{{b}}</option>

        </select>
        <div class="input-group">
            <div [hidden]="!employeeForm.submitted||bloodTypeField.valid" class="required">
                * Blood Type is required
            </div>
        </div>

    </div>

    <div class="form-group input-group">

        <div class="form-control">
            <mat-checkbox (change)=" onCheckManager($event)">Add their manager</mat-checkbox>

        </div>
    </div>
    <div class="form-group input-group " [(hidden)]="isHidden ">
        <div class="input-group-prepend ">
            <span class="input-group-text ">
                    <mat-icon>assignment_ind</mat-icon>
                </span>

        </div>

        <select name="managerName" class="form-control " [(ngModel)]="employeeInstance.managerName ">
        <option *ngFor="let m of managersList " [ngValue]="m ">{{m}}</option>
        </select>

    </div>
    <div class="form-group input-group ">
        <div class="form-control ">
            <mat-checkbox (change)="onCheckAdmin($event)">Make them Admin </mat-checkbox>
        </div>
    </div>
    <div [hidden]="!postError " class="alert alert-danger ">
        {{postErrorMessage}}

    </div>
    <div [hidden]="!messageStatus " class="alert alert-info ">
        {{postMessage}}

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info btn-block"> Add Associate </button>
    </div>

</form>