<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">From Session</th>
            <th scope="col">To Session</th>
            <th scope="col">Days</th>
            <th scope="col">Reason</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let app of applications">
            <td>{{app.LeaveApplicationId}}</td>
            <td>{{app.Name}}</td>
            <td>{{app.FromDate | date:'mediumDate'}}</td>
            <td>{{app.ToDate | date:'mediumDate'}}</td>
            <td>{{app.FromSession}}</td>
            <td>{{app.ToSession}}</td>
            <td>{{diff(app.ToDate,app.FromDate)}}</td>
            <td>{{app.Reason}}</td>
            <td class="btn-group"><button type="button" class="btn btn-success">Approve</button>
                <button type="button" class="btn btn-danger" (click)="Reject(app.LeaveApplicationId)">Reject</button></td>
        </tr>
    </tbody>
</table>