<!--<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-info">Add</button>
    <button type="button" class="btn btn-warning">Update</button>
    <button type="button" class="btn btn-danger">Remove</button>
</div>
-->
<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">Day</th>
            <th scope="col">Month</th>
            <th scope="col">Occasion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let holiday of holidays">

            <td>{{holiday.Day}}</td>
            <td>{{holiday.Month}}</td>
            <td>{{holiday.Occasion}}</td>
        </tr>
    </tbody>
</table>