<form class="form-inline d-flex p-3 filter-row justify-content-around">
    <div class="form-group mb-2">
        <label for="Leave Type">Filter by</label>
        <div class="form-group input-group" required>
            <div class="input-group-prepend">
                <span class="input-group-text">
                   <mat-icon>filter_list</mat-icon>
                </span>
            </div>

            <select name="filter" class="form-control" name="searchText" [(ngModel)]="searchText">
             <option *ngFor="let f of filters" [ngValue]="f">{{f}}</option>
             </select>
        </div>
    </div>

</form>

<p class="alert alert-info text-center center-display" *ngIf="!empty">Attendance has not yet been updated! Please try later!</p>

<table class="table" [hidden]="!empty">
    <thead>
        <tr>

            <th scope="col ">Date</th>
            <th scope="col ">Check In</th>
            <th scope="col ">Check Out</th>
            <th scope="col ">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of attendance | filter : 'Status': searchText; let i = index" [ngClass]="{ 'bgGreen': a.Status=='Present' , 
        'bgRed': a.Status=='Undertime' , 'bgOrange': a.Status=='Overtime' , 
        'bgGrey': a.Status=='Absent'}">
            <td>{{a.Date | date:'mediumDate'}}</td>
            <td>{{a.Checkin}}</td>
            <td>{{a.Checkout}}</td>
            <td>{{a.Status}}</td>
        </tr>
    </tbody>
</table>