<div class="text-center">
    <img class="logo" src="../../assets/forgotpassword.png" alt="logo">
</div>
<div class="text-center">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Forgot Password</h4>
        <p>Please fill the following to reset your password</p>

        <form class="card container" #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <mat-icon>account_box</mat-icon>
                        </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Employee ID" name="employeeId" (change)="getQuestion()" required [(ngModel)]="forgotPasswordInstance.employeeId" #employeeIdField="ngModel" [class.field-error]="forgotPasswordForm.submitted && employeeIdField.invalid">
                </div>
                <div class="input-group">
                    <div [hidden]="(!forgotPasswordForm.submitted||employeeIdField.valid)" class="required">
                        * Employee ID is required
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <mat-icon>contact_support</mat-icon>
                        </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Security Question" name="securityQuestion" required [(ngModel)]="forgotPasswordInstance.securityQuestion" #securityQuestionField="ngModel" [class.field-error]="forgotPasswordForm.submitted && securityQuestionField.invalid">
                </div>
                <div class="input-group">
                    <div [hidden]="(!forgotPasswordForm.submitted||securityQuestionField.valid)" class="required">
                        * Security Question is required
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <mat-icon>question_answer</mat-icon>
                        </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Answer" name="answer" required [(ngModel)]="forgotPasswordInstance.answer" #answerField="ngModel" [class.field-error]="forgotPasswordForm.submitted && answerField.invalid">
                </div>
                <div class="input-group">
                    <div [hidden]="(!forgotPasswordForm.submitted||answerField.valid)" class="required">
                        * Answer is required
                    </div>
                </div>
            </div>

            <div [hidden]="!postError" class="alert alert-danger">
                {{postErrorMessage}}

            </div>

            <div [hidden]="!postSuccess" class="alert alert-info">
                {{postSuccessMessage}}

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-block"> Send Password Reset Link </button>
            </div>

        </form>
    </article>
</div>