<footer *ngIf="footer.footVisible" class="footer bg-dark text-white">
    <div class="container">
        <div class="content">
            <address class="text-center">
                Psiog Digital (P) Ltd.<br>
                7th Floor IIFL, 143,MGR Salai, Perungudi,
                Chennai, Tamil Nadu 600096.
            </address>
            <!--  <p class="text-right">Psay Hi!</p>
            <div class="text-right" (click)="redirect()">Visit us here!</div>
-->
        </div>
    </div>
</footer>