
  .required
  {
      color:red;
  }
  .card{
    padding:1.5em;
    width:40em;
}
.container {
    display: flex;
    justify-content: center;

  }
  .logo
  {
      width:7%;
      height:7%;
      margin-top:3em;
  }